<!DOCTYPE html>
<html lang="fr">

	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}Au fil des saisons
			{% endblock %}
		</title>

		<link
		rel="icon" href="{{ asset('images/logo/favicon.png') }}">

		{# =========================
				       FEUILLES DE STYLE
				    ========================== #}

		{% block stylesheets %}

			<link rel="stylesheet" href="{{ asset('css/style.css') }}">

		{% endblock %}

		{# =========================
				       IMPORTMAP SYMFONY
				    ========================== #}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		{# =========================
				       FRANKENPHP HOT RELOAD
				    ========================== #}

		{% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}

		{% if frankenphpHotReload %}

			<meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">

			<script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>

			<script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

		{% endif %}

	</head>

	<body>

		{# =========================
				       HEADER
				    ========================== #}

		{% include 'components/_header.html.twig' %}

		{% include 'components/_hero.html.twig' %}

		{# =========================
				       MESSAGES FLASH
				    ========================== #}

		{% include 'components/_flash.html.twig' %}

		{% for message in app.flashes('success') %}
			<div class="alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{# =========================
				       CONTENU DES PAGES
				    ========================== #}

		<main>

			{% block body %}{% endblock %}

		</main>

		{# =========================
				       FOOTER
				    ========================== #}

		{% include 'components/_footer.html.twig' %}

	</body>

</html>
